header {
	position: sticky;
	top: 0;
	
  }
  
  .navbar-brand img {
	margin-left: 150px;
	width: 104px;
	padding: 5px;
	;
  }
  
  .navbar-brand:hover {
	background-color: #f6d7f4;
	transition: background-color 0.8s ease
  }
  
  .navbar-collapse {
	
	align-items: center;
	justify-content: center;
	max-width: 1248px;
	margin: 0 auto;

	font-family: "Open Sans";
	font-weight: 700;
	font-size: 15px;
	text-align: center;
}
  
.navbar-collapse:hover {
	background-color: #9de8eb;
	transition: background-color 0.8s ease

}

.navbar-collapse ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .navbar-collapse ul li {
	display: inline-block;
  }
  
  .navbar-collapse ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 10px 30px;
	transition: background-color 0.8s ease;
  }
  
  .navbar-collapse ul li a:hover {
	background-color: #f6d7f4;
  }
  
  
  @media screen and (max-width: 768px) {
	.navbar-brand img {
		margin-left: 10px;;
	}
  }
 
.contenedor {
	 display: flex;
 	 justify-content: center; 
 	 align-items: center; 
}
 .rectangulofino {
	margin-top: 35px;
	width: 1618px;
	height: 5px;
	padding: 8px 8px 8px 8px;
	background: #eef1f5;
	
	}
  
	.contenedorfoto {
		display: flex;
		justify-content: center;
		align-items: center;

	  }
	  
	  .portada {
		max-width: 100%;
		height: auto;
	  }

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
  }

  .copyright {
	font-family: "open Sans";
	line-height: 1.5;
	color: #798DA3;

  }

  .redes-sociales img { 
		width: 60px;
		margin-right: 25px;
		transition: background-color 0.8s ease;
  }
  .redes-sociales img:hover{
	border-radius: 6px 6px 6px 6px;
  	background-color: #f6d7f4;
}


	
  
  
/* NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS */


.contenedorsomos {
	margin-top: 53px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	
	
  }
  
.somoumbra {
  color: #3b4754;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 150;
  font-size: 2.5vw;
  line-height: 1.2;
  text-align: center;
}

.textnosotros {
  color: #798da3;
  font-family: "Open Sans";
  font-weight: 250;
  font-size: 2vw;
  line-height: 1.5;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .somoumbra {
    font-size: 5vw;
  }

  .textnosotros {
    font-size: 4vw;
  }
}

.contenedorsomos img {
	width: 50px;
	padding-bottom: 20px;
}

/* SERVICIOS SERVICIOS SERVICIOS
SERVICIOS SERVICIOS SERVICIOS
SERVICIOS SERVICIOS SERVICIOS*/

.preservicios {
	margin-bottom: 30px;

}

.gruposervicios {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #F2C9FB;
	padding:70px;
  }
  
  
  .column {
	width: 33.33%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
  }
  
  .column img {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 100px;
	height: auto;
  }
  
  .column h2 {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.1;
	text-align: center;
	margin-top: 10px;
  }
  
  .column p {
	color: #000000;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 5px;
  }
  
  @media screen and (max-width: 768px) {
	.column {
	  width: 100%;
	}
  }

/* PORTFOLIO PORTFOLIO PORTFOLIO

PORTFOLIO PORTFOLIO PORTFOLIO */


.abueloimg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
  }
  
  .image-group1 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .image-group1 img {
	flex-basis: calc(30% - 20px); 
	max-width: 100%; 
	max-height: 100%; 
	object-fit: contain; 
	margin: 10px; 
	transition: opacity 0.3s ease; 
}

.image-group1 img:hover {
  opacity: 0.7; 
  filter: brightness(80%) sepia(20%) saturate(300%) hue-rotate(330deg);
}


 
/* EQUIPO  */
/* EQUIPO  */
/* EQUIPO  */
/* EQUIPO  */

.columnas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1rem;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
  }
  
  .col1 {
	flex-basis: 100%;
	padding: 8px;
	box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
	background: #ffecd7;
	border-color: #c9d3dd;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	margin-bottom: 1rem;
  }
  
  .col2 {
	flex-basis: 100%;
	padding: 8px;
	box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
	background: #d4e3fc;
	border-color: #798da3;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	margin-bottom: 1rem;
  }
  
  .col3 {
	flex-basis: 100%;
	padding: 8px;
	box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
	background: #fefce0;
	border-color: #c9d3dd;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 768px) {
	.col1,
	.col2,
	.col3 {
	  flex-basis: calc(33.33% - 2rem);
	  margin-right: 1rem;
	  margin-bottom: 0;
	}
  
	.col3 {
	  margin-right: 0;
	}
  }
  
  .columnas p {
	color: #798da3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	font-style: italic;
  }
  
  .columnas h3 {
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 20px;
	line-height: 1.1;
  }
  
