header {

	z-index: 1;
	position: sticky;
	top: 0;
	background-color: #ffffff;
	padding: 1px;
	display: flex;
	justify-content: space-evenly;
	align-items: center; 
  }
  
  .logoumbra {
	width: 104px;
	background: #000000;
	background-color: #ffffff;
	padding: 5px;
	transition: background-color 0.5s ease;
	max-width: 100%; 
	height: auto; 
  }
  
  .logoumbra:hover {
	background-color: #f6d7f4;
  }
  
  .link-bar-3 {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1248px;
	margin: 0 auto;
	height: 76px;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	background-color: #fff;
  }
  
  .link-bar-3 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .link-bar-3 ul li {
	display: inline-block;
  }
  
  .link-bar-3 ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 10px 30px;
	transition: background-color 0.8s ease;
  }
  
  .link-bar-3 ul li a:hover {
	background-color: #f6d7f4;
  }
  
 
  @media screen and (max-width: 768px) {
	header {
	  flex-direction: column;
	}
  
	.logoumbra {
	  margin-bottom: 10px;
	}
  }

.contenedor {
	 display: flex;
 	 justify-content: center; 
 	 align-items: center; 
}
 .rectangulofino {
	width: 1618px;
	height: 5px;
	padding: 8px 8px 8px 8px;
	background: #eef1f5;
	
	}
  
	.contenedorfoto {
		display: flex;
		justify-content: center;
		align-items: center;

	  }
	  
	  .portada {
		max-width: 100%;
		height: auto;
	  }

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
  }

  .copyright {
	font-family: "open Sans";
	line-height: 1.5;
	color: #798DA3;

  }

  .redes-sociales img { 
		width: 60px;
		margin-right: 25px;
		transition: background-color 0.8s ease;
  }
  .redes-sociales img:hover{
	border-radius: 6px 6px 6px 6px;
  	background-color: #f6d7f4;
}


	
  
  
/* NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS
NOSOTROS */


.contenedorsomos {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	
	
  }
  
.somoumbra {
  color: #3b4754;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 150;
  font-size: 2.5vw;
  line-height: 1.2;
  text-align: center;
}

.textnosotros {
  color: #798da3;
  font-family: "Open Sans";
  font-weight: 250;
  font-size: 2vw;
  line-height: 1.5;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .somoumbra {
    font-size: 5vw;
  }

  .textnosotros {
    font-size: 4vw;
  }
}

.contenedorsomos img {
	width: 50px;
	padding-bottom: 20px;
}

/* SERVICIOS SERVICIOS SERVICIOS
SERVICIOS SERVICIOS SERVICIOS
SERVICIOS SERVICIOS SERVICIOS*/



.gruposervicios {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #F2C9FB;
	padding:70px;
  }
  
  
  .column {
	width: 33.33%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
  }
  
  .column img {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 100px;
	height: auto;
  }
  
  .column h2 {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.1;
	text-align: center;
	margin-top: 10px;
  }
  
  .column p {
	color: #000000;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 5px;
  }
  
  @media screen and (max-width: 768px) {
	.column {
	  width: 100%;
	}
  }

/* PORTFOLIO PORTFOLIO PORTFOLIO
PORTFOLIO PORTFOLIO PORTFOLIO
PORTFOLIO PORTFOLIO PORTFOLIO
PORTFOLIO PORTFOLIO PORTFOLIO */

#portfolio1 {
	z-index: -1;
	background-color: #F2C9FB;
	border-radius: 3px 3px 3px 3px;
	width: 1618px;
    height: 137px;
    padding: 8px 8px 8px 8px;
    opacity: 60%

	   
}

#portfolio2 {
	z-index: -1;
	top: 1000px;
	background-color: #FFDAD8;
	border-radius: 3px 3px 3px 3px;
	width: 1618px;
    height: 137px;
    padding: 8px 8px 8px 8px;
    opacity: 60%
	 
}

.abueloimg {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.image-group1 {
	z-index: 0;
	margin-top: 150px;
	display: flex;
	justify-content: space-evenly;
}
.image-group1 img {
    border-color: #edf0f4;
    border-width: 10px;
    border-style: solid;
    border-radius: 8px 8px 8px 
}

.image-group2 {
	z-index: 0;
	margin-top:130px;
	display: flex;
	justify-content: space-evenly;
}
.image-group2 img {
    border-color: #edf0f4;
    border-width: 10px;
    border-style: solid;
    border-radius: 8px 8px 8px 
}
 
/* EQUIPO  */
/* EQUIPO  */
/* EQUIPO  */
/* EQUIPO  */


.columnas {
	display: flex;
	justify-content: center;
    padding: 3rem;
	font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
	font-style: italic;
    line-height: 1.5;
    text-align: center;
	
}

.col1 {
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
    background: #ffecd7;
    border-color: #c9d3dd;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
	
}

.col2 {
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
    background: #d4e3fc;
    border-color: #798da3;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
}

.col3 {
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 5px 5px rgba(237, 240, 244, 0.75);
    background: #fefce0;
    border-color: #c9d3dd;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
}

.columnas {
    display: flex;
    gap: 1rem;
}

.columnas > * {
    width: 100%;
}

.columnas p {	
	color: #798da3;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
	font-style: italic;
}

.columnas h3 {
	color: #3b4754;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    line-height: 1.1;
  }



.redcopy {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
  }
  
